.progress-bar-indeterminate {
    width: 100%;
    animation: indeterminateAnimation calc(1s * var(--indeterminate-speed, 1)) infinite var(--indeterminate-easing, linear);
    transform-origin: var(--indeterminate-start, 0%) 50%;
    will-change: transform;
}

.progress-bar-ease {
    --indeterminate-easing: ease-in-out;
}

[dir="rtl"] .progress-bar-indeterminate {
    --indeterminate-end: -100%;
    --indeterminate-start: 100%;
}

@keyframes indeterminateAnimation {
    0% {
        transform: translateX(0) scaleX(0);
    }

    40% {
        transform: translateX(0) scaleX(0.4);
    }

    100% {
        transform: translateX(var(--indeterminate-end, 100%)) scaleX(0.5);
    }
}