@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Optional Sass map overrides here

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

@import "form-validator.scss";
@import "modalizer.scss";

// Avoid FOUC
responsive-table,
bs-tabs {
  // This gets overriden in js
  &:not(:defined) {
    visibility: hidden;
  }
}

bs-tabs {
  position: relative;
  display: flex;
  // It needs all available space to compute width
  flex-grow: 1;

  // Align to the end of line
  &[end] {
    justify-content: flex-end;
  }

  // Style applied when nav is collapsed to a dropdown menu
  &.bs-tabs-dropdown {
    .nav-link.active {
      @include caret();
      white-space: nowrap;
      // min-width: calc(var(--min-width) + 20px);
    }
    .nav-link:not(.active) {
      display: none;
    }
  }
}
responsive-table {
  // Without this, it will only hide columns if header is too large
  td,
  th {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
